.wrapper-class{
    border: 1px solid #000;
    max-height:200px;
    min-height: 200px;
    overflow: auto;
}
.wrapper-class-mobile{
    border: 1px solid #000;
    max-height:300px;
    min-height: 300px;
    overflow: auto;   
}
.toolbar-class{
    border-bottom: 1px solid #000;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1001
}
.editor-class{
    height:200px;
    overflow: auto;
}
@media print {
    .pdf-container {
      display: none;
    }
}
.pdf-container {
    background-color: #fff;
}
body{
    font-family: sans-serif;
}
*,html{
    font-family: sans-serif;
}